<% provide(:title, "Notices") %>
<% content_for(:header_title, "Notices") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center;">
        Notices
      </h1>
      <!--Button Group-->
      <%= render partial: 'partials/admin_btn_group', locals: {:back_url => 'admin', :new_url => 'notices', :new => true} %>
      <br/>
      <% if @notices.length > 0 %>
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th alt="Content" title="Content">Content</th>
                <th alt="Edit" title="Edit">Edit</th>
                <th alt="Delete" title="Delete">Delete</th>
              </tr>
            </thead>

            <tbody>
              <% @notices.each do |notice| %>
              <tr>
                <% @notices_records.each do |record| %>
                  <%= render partial: 'index_table_record', locals: {:notice => notice, :value => record } %>
                <% end %>
                <td><%= link_to "Edit", edit_notice_path(notice), alt: "Edit #{notice.content}", title: "Edit #{notice.content}" %></td>
                <td><%= link_to "Delete", notice, method: :delete, data: {confirm: 'Are you sure?' }, alt: "Delete #{notice.content}", title: "Delete #{notice.content}" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% else %>
      <div class="alert alert-info" style="text-align:center;">No Notices Found!</div>
      <% end %>

    </div>
  </div>
</div>
