<div class="form-group col-xs-12 col-sm-6 col-md-4 ttip">
  <%= f.label eval(":#{object}") %><br>
  <% if other_params == "" %>
    <%= eval("f.#{form_helper} :#{object}") %>
  <% else %>
    <%= eval("f.#{form_helper} :#{object}, #{other_params}") %>
  <% end %>
</div>
