<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center;">
        User
        <%= @state.name %>
      </h1>

      <div class="panel panel-default">
        <div class="panel-body">
          <% @state_row_data.each do |record| %>
            <%= render partial: 'show_text', locals: {:label_text => record[0], :value => record[1] } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
